ies {
  display: grid;
    font-family: Arial, Helvetica, sans-serif;
}

nombreCentro {
  font-size: 25px;
  padding: 10px;
}

web {
  padding-left: 10px;
  margin-bottom: 10px;
}

ciclos {
margin-left: 15px;
counter-reset: cuentaciclos;
}

nombre:before {
  content: counter(cuentaciclos) ". ";
  counter-increment: cuentaciclos;
}

  
  grado, decretoTitulo {
    display: list-item;
    list-style: disc inside;
    margin-left: 20px;
  }

  decretoTitulo {
    margin-bottom: 10px;
  }