ies {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
}

nombreCentro {
    font-size: 25px;
    padding: 10px;
  }
  
  web {
    padding-left: 10px;
  }
  
ciclos {
  padding: 10px;
}
  
  grado, decretoTitulo {
    display: list-item;
    list-style: disc inside;
    margin-left: 15px;
  }

  decretoTitulo {
    margin-bottom: 10px;
  }