libro{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    background: #90ee90;
}

titulo {
    font-weight: bold;
}