ies {
    font-family: Arial, Helvetica, sans-serif;
}

nombreCentro {
    display: block;
    font-size: 25px;
  }
  
  web {
    display: block;
    margin-bottom: 10px;
  }
  
  ciclos {
    display: table;
    border-spacing: 10px;
    border: 1px solid black;
    margin: auto;
  }

  ciclo {
      display: table-row;
  }
  
  nombre, grado, decretoTitulo {
    display: table-cell;
    border: 1px solid black;
    padding: 10px;
  }