biblioteca {
    background: #d4d4d4;
}
libro{
    display: block;
    border: 2px solid black;
    margin: 10px;
    background: #90ee90;
}

titulo, autor, fechaPublicacion {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

titulo {
    background: white;
}

titulo {
    border-bottom: 2px solid black;
    font-weight: bold;
}