* {
    margin: 5px;
    padding: auto;
    background-color: rgb(214, 212, 212);
}

h1{
    font-size: 30px;
    text-align: center;
}

legend{
    font-size: 35px;
}

.caja{
    border: 5px solid black;
    border-radius: 20px;
    max-width: 20%;
}

.linea-tarea{
    margin-top: 5px;
    padding-left: 10px;
}
.linea-tarea#tarea-verde{
    background-color: greenyellow;
}
.linea-tarea#tarea-naranja{
    background-color: orange;
}
.linea-tarea#tarea-roja{
    background-color: red;
}
