* {
    margin: 5px;
    padding: auto;
    background-color: rgb(214, 212, 212);
}

h1{
    font-size: 30px;
    text-align: center;
}

legend{
    font-size: 35px;
}

.contenedor {
    max-width: 34%;
}

.caja{
    border: 5px solid black;
    border-radius: 20px;
}

.linea-tarea#verde {
    background-color: green;
}

.linea-tarea#naranja {
    background-color: orange;
}

.linea-tarea#roja {
    background-color: red;
}