ies {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

nombreCentro {
  font-size: 25px;
  margin: 10px;
}
  
web {
  margin: 10px;
}
  
ciclo {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
  
grado, decretoTitulo {
  display: list-item;
  list-style: disc inside;
  margin-left: 20px;
}