ies {
    display: flex;
    flex-flow: row-reverse nowrap;
    font-family: Arial, Helvetica, sans-serif;
}

nombreCentro{
    display: flex;
    flex-flow: row-reverse nowrap;
    font-size: 20px;
}

web {
    display: flex;
    flex-flow: nowrap;
    font-size: 20px;
    margin-bottom: 10px;
}
  
ciclos {
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

ciclo {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
  }
    
  nombre{
    display: flex;
    flex-basis: 75%;
    background: #94ec94;
  }
  
  grado{
    display: flex;
    flex-basis: 15%;
    background: #94ec94;
  }
  
  decretoTitulo{
    display: flex;
    flex-basis: 10%;
    background: #94ec94;
  }
  
  
  nombre, grado,decretoTitulo {
    margin: 1%;
    padding: 1%;
  }