ies {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}

nombreCentro {
  display: flex;
    background: #d4d4d4;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  web {
    display: none;
  }
  
ciclos {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

  ciclo {
      display: flex;
      flex-direction: row;
      margin: 5px;
  }
  
  nombre{
    display: flex;
    flex-basis: 75%;
  }
  
  grado{
    display: flex;
    flex-basis: 15%;
  }
  
  decretoTitulo{
    display: flex;
    flex-basis: 10%;
  }
  
  
  nombre, grado,decretoTitulo {
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
  }