ies {
    display: flex;
    flex-direction: row-reverse;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
  }

nombreCentro{
    display: flex;
    font-size: 20px;
}

web {
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
}
  
ciclos {
    display: flex;
    flex-direction: column;
    clear: both;
    font-size: 20px;
}

ciclo {
      display: flex;
      flex-direction: column;
      border-spacing: 10px;
      border: 1px solid black;
      margin: auto;
      width: 50%;
}

nombre {
    display: flex;
    background: #d4d4d4;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
  
grado, decretoTitulo {
    display: table-cell;
    border: 1px solid black;
    padding: 10px;
}