ies {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}

nombreCentro {
  font-size: 25px;
}
  
web {
  margin-bottom: 2%;
}
  
ciclos {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-left: 30%;
  margin-right: 30%;
}



ciclo {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.ASIR {
  justify-content: center;
}
  
nombre{
  display: flex;
  flex-basis: 75%;
}

grado{
  display: flex;
  flex-basis: 15%;
}

decretoTitulo{
  display: flex;
  flex-basis: 10%;
}


nombre, grado,decretoTitulo {
  border: 1px solid black;
  margin: 1%;
  padding: 1%;
}